<!DOCTYPE html>
<html>

<head>
  <title>Library of band music - DR CANDICE BEHRMANN TENNEY</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="css/style-band.css" rel="stylesheet">
</head>

<body>
  <div id="wrapper">

    <header>
      <div class="container">
        <div class="col-md-5 col-sm-6 col-xs-9 logo">
          <a href=".">
            <span style="white-space: nowrap; float: left">
              <h3>DR.</h3><h1>CANDICE</h1><h2>BEHRMANN TENNEY</h2><h4>Library of Band Music</h4>
            </span>
            <span>
              <img src="images/candicebehrmann.webp" 
                   alt="logo" 
                   style="width:auto;height:100px;margin-left:15px;margin-top:17px"/>
            </span>  
          </a>
        
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 mobile-togle">
          <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
              <button type="button" id="hamburger" class="navbar-toggle x collapsed" data-toggle="collapse"
                data-target="#navbar-collapse-x">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#top"></a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse-x">
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <div class="search1">
                    <button type="submit"><i class="fa fa-search"></i></button> <input type="text" class="form-control"
                      placeholder="Search">
                  </div>
                </li>
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" href=".">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="her-story">Her story<span class="sr-only">(current)</span></a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link disabled" href="flutechoir">Library of flute choir music</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link disabled" href="videos">Videos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="lessons">Lessons</a>
                  </li>
                </ul>
              </ul>
            </div><!-- .navbar-collapse -->
          </nav>
        </div>

        <div class="col-md-7 col-sm-6 col-xs-3 right_section ">
          <div class="search">
            <button type="submit"><i class="fa fa-search"></i></button> <input type="text" class="form-control"
              placeholder="Search">
          </div>



          <nav class="navbar navbar-expand-lg navbar-light bg-light">



            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link disabled" href=".">Home</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="her-story">Her story<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="flutechoir">Library of flute choir music</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link disabled" href="videos">Videos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="lessons">Lessons</a>
                </li>
              </ul>

            </div>

          </nav>
        </div>

        <!--div class="col-md-2 sign-in">
        </div-->

      </div>
    </header>

    <section class="sec_include">
      <div class="container">
        <div class="row">
          <% bandmusic.map((session, index)=>{%>
            <div class="col-xs-12 col-sm-4 col-md-4 adj_text">

              <h3><%=session.TITLE%></h3>
              <p><%=session.COMPOSER%></p>
              <p><%=session.INSTRUMENTATION%></p>
                <a href="/band/<%=session._id%>" class="btn-oval">Learn More</a>
            </div>
          <% }) %>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <div class="main-footer col-md-12 col-xs-12">
          <div class="foter-logo col-md-3 col-sm-3 col-xs-2">
            <a href="index.html"><img class="desktop" src="images/candicebehrmann.webp" style="width:auto;height:100px"><img class="mobileImg"
                src="images/candicebehrmann.webp">
            </a>
          </div>
          <div class="links col-md-5 col-md-5 col-xs-10">
            <ul class="quick-links col-md-6 col-xs-6">
              <li><a href=".">Home</a></li>
              <li><a href="her-story">Her Story</a></li>
              <li><a href="flutechoir">Library of flute choir music</a></li>
              <li><a href="videos">Videos</a></li>
              <li><a href="lessons">Lessons</a></li>
            </ul>
            <ul class="quick-links second-row col-md-4 col-xs-6">

              <li><a href="#">Careers</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Media Inquiries</a></li>
              <li><a href="#">Help</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!---------- End of Wrapper ----------->



  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script>
    jQuery(document).ready(function () {

      // alert("wow");
      //  jQuery("header").addClass("fixed");
      jQuery("#hamburger").click(function () {
        //alert("The paragraph was clicked.");
        jQuery("header").toggleClass("fixed");
      });


    });

  </script>

</body>

</html>