<!DOCTYPE html>
<html>
  <head>
    <title>Her Story - DR CANDICE BEHRMANN TENNEY</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="css/style-her-story.css" rel="stylesheet">
  </head>

  <body>
    <div id="wrapper">
      <header>
        <div class="container">
          <div class="col-md-5 col-sm-6 col-xs-9 logo">
            <span style="white-space: nowrap; float: left">
              <a href=".">
                <h3>DR.</h3><h1>CANDICE</h1><h2>BEHRMANN TENNEY</h2>
              </a>              
              <h4>Her story</h4>
            </span>
            <span>
              <a href=".">
                <img src="images/candicebehrmann.webp" 
                     alt="logo" 
                     style="width:auto;height:100px;margin-left:15px;margin-top:17px"/>
              </a>
            </span>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 mobile-togle">
            <nav class="navbar navbar-default" role="navigation">
              <div class="navbar-header">
                <button type="button" id="hamburger" class="navbar-toggle x collapsed" data-toggle="collapse" data-target="#navbar-collapse-x">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#top"></a>
              </div>

              <div class="collapse navbar-collapse" id="navbar-collapse-x">
                <ul class="nav navbar-nav navbar-right">
                <li><div class="search1">
                          <button type="submit"><i class="fa fa-search"></i></button> <input type="text" class="form-control" placeholder="Search">
                      </div></li>
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" href=".">Home</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="flutechoir">Library of flute choir music</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="band">Library of band music</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="videos">Videos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="lessons">Lessons</a>
                </li>
                  </ul>
                </ul>
              </div><!-- .navbar-collapse -->
            </nav>
          </div>

          <div class="col-md-7 col-sm-6 col-xs-3 right_section">
            <div class="search">
              <button type="submit"><i class="fa fa-search"></i></button> <input type="text" class="form-control" placeholder="Search">
            </div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link disabled" href=".">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="flutechoir">Library of flute choir music</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="band">Library of band music</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="videos">Videos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="lessons">Lessons</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>

          <!--div class="col-md-2 sign-in">
            <div class="sign">
              <a hrf="#">
                <img class="sign-in-img" src="images/avatar.svg" alt="sign-in">Sign-in
              </a>
            </div>
          </div-->
        </div>
      </header>

      <div>&nbsp</div>

      <section class="sec_include">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-6 col-lg-8 col-xl-8">

              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" style="background-color:#acc">
                <figure style="padding-top:8px">
                  <blockquote cite="">
                      <p>If my calculations are correct, when this baby hits 88 miles per hour, you're gonna see some serious s***.</p>
                  </blockquote>
                  <figcaption style="text-align:center"><span style="white-space:nowrap">—Dr. Emmett Brown</span><br><span style="white-space: nowrap;"><cite>Back to the future</cite></span></figcaption>
                </figure>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" style="background-color:#cca">
                <figure style="padding-top:8px;">
                  <blockquote cite="">
                      <p>What happens is, when I perform, I'm somewhere else.  I go back in time and get in touch with who I really am.</p>
                  </blockquote>
                  <figcaption style="text-align:center">—Etta James <cite></cite></figcaption>
                </figure>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" style="background-color:#cac">
                <figure style="padding-top:8px;">
                  <blockquote cite="">
                      <p>We all have our time machines, don't we. Those that take us back are memories... And those that carry us forward, are dreams.</p>
                  </blockquote>
                  <figcaption style="text-align:center">—H.G Wells <cite></cite></figcaption>
              </figure>
              </div>

            </div>
            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 col-xl-4">
              <img src="images/back-to-the-future-delorean.png"
                   class="img-fluid car"
                   style="width:100%;
                          margin-top:0px;
                          margin-bottom:0%;
                          margin-left:0%;
                          margin-right:0%" />
            </div>
          </div>
        </div>
      </section>

      <section class="sec_include">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-push-4 col-sm-8 col-md-8">
              <div class="readtext"><h3>Transiting Space</h3>
                <p >Dr. Candice Behrmann Tenney teaches Flute, Chamber Music, and Music Appreciation at Dixie State University in St. George, Utah. She is also the Woodwind Specialist at Del Sol Academy of the Performing Arts in Las Vegas, Nevada.  Interstate route 15 between Las Vegas and St George Utah is her familiar path.  She can usually identify the nearest mile marker with great accuracy upon return.</p>
                <p style="padding-top: 20px;">This transit allows her the opportunity to connect with her students.  Her students enjoy the respect and dedication that she gives them. </p>
                <p style="padding-top: 20px;">Her dream vacations always involve driving.  One of her goals is to visit every state.  States that she has not yet visited, among others, include Maine, North Dakota, and Texas.</p>
              </div>              
            </div>
            <div class="col-xs-12 col-sm-pull-8 col-sm-4 col-md-4">
              <div style="margin-top:25px">
                <div class="map-image" 
                style="position:relative">
                  <img src="images/map.gif"
                    class="map-image" 
                    style="width: 100%">
                  <img src="images/dragon.png" 
                    alt="Del Sol Academy of the Performing Arts" title="Del Sol Academy of the Performing Arts" 
                    class="icon-image" 
                    style="left: 12%; 
                            top: 34.5%; /*mix-blend-mode: hard-light;*/
                            width: 80px;">
                  <img src="images/bison_trailblazer.png" 
                    alt="Utah Tech University (previously Dixe State University)" title="Utah Tech University (previously Dixe State University)" 
                    class="icon-image" 
                    style="left: 65%; 
                            top: 37%; mix-blend-mode: hard-light;
                            width: 80px;">
                  <div style="position: absolute; 
                              mix-blend-mode: hard-light"
                        class="image-transition">
                      <div style="position: absolute; left: -27px; top: -70px; 
                                  text-align: center">Candice</div>
                      <div style="display: flex;">
                          <div style="flex-grow: 1"></div>
                          <div style="flex-grow: 0; position: absolute; 
                          left: -16px;
                          top: -50px;">                    
                              <img src="images/location-drop.png" 
                                alt="Candice" 
                                title="Candice" 
                                style="height: 50px;">
                              </div>                    
                          <div style="flex-grow: 1"></div>
                      </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </section>
      
      <section class="sec_include">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8">
              <div class="readtext">
                <h3>Transiting Time</h3>
                <p>As a frequent recitalist and chamber musician, Candice has given concerts and master classes throughout the United States. She is also a frequent performer at The National Flute Convention, The College Music Society, Sigma Alpha Iota and State Conventions. </p>
                <p style="padding-top: 20px;">While at the University of Nebraska-Lincoln (UNL) Candice was awarded the Graduate Student Leadership award for the Hixon Lied College of Fine and Performing Arts for her contributions to the School of Music and the Graduate Student Association. She was also a founding member of the Graduate Musicians' Organization at UNL which promotes music scholarship and continuing education for the graduate student body.</p>
                <p style="padding-top: 20px;">Candice received her Doctorate of Musical Arts and Masters Degree from the University of Nebraska-Lincoln. She also holds a Bachelors in Instrumental Music Education from the University of Utah. Her primary teachers include Dr. John Bailey and Susan Goodfellow.</p>
              </div>
              
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <a href="https://www.suu.edu/news/2021/01/candice-behrmann-flute.html" class="disabled">
                <div style="overflow:hidden">
                  <img src="images/suu.png"
                       alt="Public"
                       style="width:100%;
                              height:auto;
                              margin-top:25px;
                              margin-bottom:-0%;
                              margin-left:-0%;
                              margin-right:-0%;
                              "/><br>
                </div>
              <div class="readtext">
                <h3 style="margin-top:6px">Guest flute recitalist</h3>
                <p>Southern Utah University’s Department of Music welcomes guest flutist, Dr. Candice Behrmann Tenney, to teach a master class to SUU music students and perform a concert for the public on the Thorley Recital Hall stage ...</p>
              </div>
              </a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="sec_include">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
              <a href="http://music.dixie.edu/music-faculty/candice-behrmann/" class="disabled">
                <div>
                  <img src="images/dsu_trailblazers.png" alt="Public" style="width:100%;margin-top:25px;"/>
                  <div class="readtext">
                    <h3 style="margin-top:6px">Adjunct professor of flute, chamber music, and music appreciation</h3>
                    <p>Dixie State University ...</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8">
            </div>
          </div>
        </div>
      </section>

      <section class="sec_include">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8">
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <a href="https://www.delsolacademy.org/" class="disabled">
                    <div style="overflow:hidden">
                      <img src="images/DelSol.gif" alt="Public" style="width:100%;margin-top:25px;"/>
                      <div class="readtext">
                        <h3 style="margin-top:6px">Woodwind specialist</h3>
                        <p>Del Sol Academy of the Performing Arts in Las Vegas welcomes ...</p>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="sec_include">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <a href="https://estesmc.wixsite.com/mcdoniel/" class="disabled">
                  <div style="overflow:hidden">
                    <img src="images/estes_elementary.webp" alt="Public" style="width:100%;margin-top:25px;"/>
                    <div class="readtext">
                      <h3 style="margin-top:6px">One-on-one resource aide</h3>
                      <p>Estes McDoniel Elementary in Henderson Nevada welcomes ...</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8">
            </div>
          </div>
        </div>
      </section>

      <section class="sec_include">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-push-4 col-sm-8 col-md-8">

            </div>
            <div class="col-xs-12 col-sm-pull-8 col-sm-4 col-md-4">

            </div>
          </div>
        </div>
      </section>
    </div>
    
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script>
      jQuery(document).ready(function(){

      // alert("wow");
        //  jQuery("header").addClass("fixed");
        jQuery("#hamburger").click(function(){
          //alert("The paragraph was clicked.");
          jQuery("header").toggleClass("fixed");
        });
      });
    </script>
  </body>
</html>
