<!DOCTYPE html>
<html>

<head>
  <title>Candice Behrmann Tenney</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="css/style-lessons.css" rel="stylesheet">
</head>

<body>
  <div id="wrapper">

    <header>
      <div class="container">
        <div class="col-md-5 col-sm-6 col-xs-9 logo">
          <span style="white-space: nowrap; float: left">
            <a href=".">
              <h3>DR.</h3><h1>CANDICE</h1><h2>BEHRMANN TENNEY</h2>
            </a>              
            <h4>Lessons</h4>
          </span>
          <span>
            <a href=".">
              <img src="images/candicebehrmann.webp" 
                   alt="logo" 
                   style="width:auto;height:100px;margin-left:15px;margin-top:17px"/>
            </a>
          </span>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 mobile-togle">
          <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
              <button type="button" id="hamburger" class="navbar-toggle x collapsed" data-toggle="collapse" data-target="#navbar-collapse-x">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#top"></a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse-x">
              <ul class="nav navbar-nav navbar-right">
              <li><div class="search1">
                        <button type="submit"><i class="fa fa-search"></i></button> <input type="text" class="form-control" placeholder="Search">
                    </div></li>
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href=".">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="her-story">Her Story</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="flutechoir">Library of flute choir music</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="band">Library of band music</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="videos">Videos</a>
              </li>
                </ul>
              </ul>
            </div><!-- .navbar-collapse -->
          </nav>
        </div>

        <div class="col-md-7 col-sm-6 col-xs-3 right_section">
          <div class="search">
            <button type="submit"><i class="fa fa-search"></i></button> <input type="text" class="form-control" placeholder="Search">
          </div>
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link disabled" href=".">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="her-story">Her story</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="flutechoir">Library of flute choir music</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="band">Library of band music</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="videos">Videos</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>

        <!--div class="col-md-2 sign-in">
          <div class="sign">
            <a hrf="#">
              <img class="sign-in-img" src="images/avatar.svg" alt="sign-in">Sign-in
            </a>
          </div>
        </div-->
      </div>
    </header>

    <section class="banner">
      <div class="container">
        <div class="row">
          <div class="inner-content col-md-12">
            <h3 style="color:black">Wanting to learn from someone that has studied the art of pedagogy?</h3>
            <p style="color:black">Let's get lessons started.</p>
            
            <div class="" id="">
              <ul class="" style="color:black">Email Candice (Candice.Behrmann@gmail.com) with this information:
                <li class="">
                  <a class="" href="">Your name</a>
                </li>
                <li class="">
                  <a class="" href="">Your phone number</a>
                </li>
                <li class="">
                  <a class="" href="">Student name</a>
                </li>
                <li class="">
                  <a class="" href="">Availability</a>
                </li>
                <li class="">
                  <a class="" href="">Instrument</a>
                </li>
                <li class="">
                  <a class="" href="">Age</a>
                </li>
                <li class="">
                  <a class="" href="">Is your student enrolled in school band, choir, or orchestra?</a>
                </li>
                <li class="">
                  <a class="" href="">Has your student had lessons before?  When did the student start?  What has been the student's experience?</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>      
    </section>




  </div>
  <!---------- End of Wrapper ----------->



  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script>
    jQuery(document).ready(function () {

      // alert("wow");
      //  jQuery("header").addClass("fixed");
      jQuery("#hamburger").click(function () {
        //alert("The paragraph was clicked.");
        jQuery("header").toggleClass("fixed");
      });


    });

  </script>

</body>

</html>